*{
    margin: 0;
}
.bg{
    margin:0;
    /* border: 0.5px solid red; */
    width:99.9%;
    /* height: 99.5vh; */
    overflow: hidden;
}

.imgstyling{
    width:100%; 
    filter: blur(8px);
    z-index: -100;
    position: fixed;
  -webkit-filter: blur(8px);
}
.head{
    z-index: 100;
    height: 100%;
    border-radius: 10px;
    /* margin-top: 20o; */
}
.headbox{
    /* border:5px solid black; */
    height: 600px;
    width:800px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.recordtext{
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
    
}
.recordtext2{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    display: none;
}
.textsbox{
    width:360px;
    height:220px;
    background: rgba(0.5,0.5,0.5,0.15);
    backdrop-filter: blur(80px);
    overflow: hidden;
    margin: 50px;
    border-radius: 10px;
    /* font-weight: ; */
}
.texttitle{
    width: 100%;
    height:70px;
    /* background-color: red; */
    font-size: 25px;
    line-height: 70px;
    font-weight: bold;
}
.statsbox{
    width:100%;
    height: 100%;
    display: flex;
    /* background-color: orange; */
}
.imgbox{
    width:30%;
    height:100%;
    padding: 20px;
    margin-right: -10px;
    font-size: 80px;
}
.imgbox2{
    width:25%;
    height:100%;
    padding: 20px;
    margin-right: 10px;
    font-size: 70px;
}
.ministatsbox{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
}
.titlestats{
    width:100%;
    height: 25%;
    /* background-color: antiquewhite; */
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.recordbox{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}
.imgsize{
    overflow: hidden;
    width: 100%;
    height: 80%;
}
@media (max-width : 500px){
    .recordtext2{
        display: block;
    }
    .recordtext{
        display: none;
    }
    .headbox{
        display: none;
    }
}
